[Unit]
Description=Promethues
Wants=network-online.target
After=network-online.target

[Service]
User={{ prometheus_user }}
WorkingDirectory={{ prometheus_folder }}
ExecStart={{ prometheus_folder }}/prometheus \
        --config.file={{ prometheus_folder }}/prometheus.yml \
        --storage.tsdb.path={{ prometheus_storage_tsdb_path }} \
        --storage.tsdb.retention={{ prometheus_storage_tsdb_retention }} \
        --web.enable-admin-api

[Install]
WantedBy=default.target
