services:
  prometheus:
    image: prom/prometheus:{{prometheus_version}}
    container_name: prometheus
    restart: unless-stopped
    network_mode: host
    volumes:
      - "./prom_config/alert_rules:/etc/prometheus/alert_rules"
      - "./prom_config/targets_lists:/etc/prometheus/targets_lists"
      - "./prom_config/prometheus.yml:/etc/prometheus/prometheus.yml"
      - "{{prometheus_storage_tsdb_path}}:/etc/prometheus/data"
    command:
      - "--config.file=/etc/prometheus/prometheus.yml"
      - "--storage.tsdb.path=/etc/prometheus/data"
      - "--storage.tsdb.retention.time={{prometheus_storage_tsdb_retention}}"
      - "--web.enable-admin-api"

  grafana:
    image: grafana/grafana:{{grafana_version}}
    container_name: grafana
    restart: unless-stopped
    network_mode: host
    environment:
      - GF_SECURITY_ADMIN_PASSWORD={{grafana_admin_password}}
    volumes:
      - ./grafana_data/:/var/lib/grafana
    depends_on:
      - prometheus