[Unit]
Description={{blackbox_exporter_container_name}}
After=docker.service
BindsTo=docker.service

[Service]
Restart=always
WorkingDirectory={{docker_folder}}/{{blackbox_exporter_container_name}}/
ExecStart=docker compose up
ExecStop=docker compose down

[Install]
WantedBy=multi-user.target
